* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 2em;
}
.colorWrapper {
  background-color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-radius: 50%;
  /* padding: 20px; */
  width: 500px;
  height: 500px;
  text-align: center;
}
.color {
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}
.footerWrapper {
  background: #83bfd0;
  color: #fff;
  padding: 20px;
  text-align: center;
}
